<div class="page-wrapper servicespage">
    
    <div class="content-wrapper">
        <div class="mobile">
            <h2>{{ title }}</h2>
        </div> 
        <div class="container"> 
            
            <div class="row">
                {{ if segment_2 }}
                <div class="col-md-{{ image_size }}">
<!--                    <h2>{{ title }}</h2>-->
                    {{ if image }}
                    <div class="image-container">
                        <img src="{{ image }}" alt="{{ title }} Image" />
                    </div>
                    {{ /if }}
                </div>
                
                <div class="col-md-6{{ if 6 - image_size != 0 }} offset-md{{ image_size|-:6 }}{{ /if }}">
                    <p>{{ desc|markdown }}</p>
                    
<!--                    <a href="/services">&larr; Back to Services</a>-->
                </div>
                {{ else }}
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="{{ if intro_image }}{{ intro_image }}{{ /if }}" alt="Service Image">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <h2>{{ intro_title }}</h2>
                    <p>{{ intro }}</p>
                </div>
                {{ /if }}
            </div>
            
            {{ if segment_2 }}
            <div class="row">
                <div class="col-md-6 offset-md-6">                    
                    <a class="back-link" href="/services">&larr; Back to Services</a>
                </div>
            </div>
            {{ /if }}
        </div>
    </div>
    
    {{# if !segment_2 #}}
    <div class="service-wrapper">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <h3>Service Listings</h3>
                </div>
            </div>
            
            <div class="row">
                {{ entries:listing from="services" }}
                <div class="col-md-4">
                    <a href="{{ url }}"{{ if url == current_url }} class="here"{{ /if}}>{{ title }}</a>
                </div>
                {{ /entries:listing }}
            </div>
           
        </div>
    </div>
    {{# /if #}}
</div>