/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 
 * Modified by Left & Right.
 */
/* ==========================================================================
   Table Of Contents
   ========================================================================== */
/*   
   1). Base styles....................................................[`BASE]
   2). Custom styles..................................................[`CSTM]
   3). Helper classes.................................................[`HELP]
   4). Print styles...................................................[`PRNT]
 */
/* ==========================================================================
   Base styles [`BASE]                                                             
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}

body {
  background: url(../img/bg-dark-blue-pattern.png);
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #444;
  height: 100%;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* 
 * Browse Happy prompt    
 */
.browsehappy {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ul li {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

/* ==========================================================================
   Functions [`FUNC]
   ========================================================================== */
/* ==========================================================================
   Variables [`VARI]                                                             
   ========================================================================== */
/* ==========================================================================
   Mixins [`MIXN]
   ========================================================================== */
/* ==========================================================================
   Typography [`TYPO]
   ========================================================================== */
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?dp9f2l");
  src: url("../fonts/icomoon.eot?dp9f2l#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dp9f2l") format("truetype"), url("../fonts/icomoon.woff?dp9f2l") format("woff"), url("../fonts/icomoon.svg?dp9f2l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e901";
}

.icon-calendar:before {
  content: "\e902";
}

.icon-location-pin:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e905";
}

.icon-old-phone:before {
  content: "\e906";
}

.icon-mail:before {
  content: "\e907";
}

.icon-phone:before {
  content: "\e942";
}

.icon-alone {
  display: inline-block;
  /* Fix for clickability issue in WebKit */
}

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #164462;
}

h2 {
  font-size: 1.33333em;
}

p, a {
  font-family: "Montserrat", sans-serif;
}

.mobile-992,
.mobile {
  display: inherit;
}

.desktop-992,
.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inherit;
  }
}
@media screen and (min-width: 992px) {
  .mobile-992 {
    display: none;
  }

  .desktop-992 {
    display: inherit;
  }
}
/* ==========================================================================
   Header [`HEAD]
   ========================================================================== */
header {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  background: #FFFFFF;
  position: fixed;
  height: 58px;
  width: 100%;
  z-index: 1;
  top: 0;
}
header button.menu {
  background: #164462;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 24px;
  color: #FFFFFF;
  outline: none;
  padding: 10px;
  float: right;
  border: none;
}
header.scroll {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  top: -70px;
}

.logo {
  background: #FFFFFF;
  padding: 0 15px;
  position: fixed;
  display: block;
  height: 58px;
  z-index: 10;
  width: 100%;
  left: 0;
}
.logo a {
  background: url(../img/logo.png) center center no-repeat;
  background-size: 100%;
  white-space: nowrap;
  text-indent: 500%;
  overflow: hidden;
  margin: 4px -8px;
  display: block;
  height: 50px;
  width: 110px;
  float: left;
}

@media screen and (min-width: 356px) {
  header {
    height: 70px;
  }
  header button.menu {
    font-size: 0.44444em;
    margin-top: 30px;
  }
  header.scroll {
    top: -70px;
  }

  .logo {
    height: 70px;
  }
  .logo a {
    margin: 10px -8px;
    height: 50px;
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  header {
    position: static;
    height: auto;
  }
  header.scoll {
    top: 0;
  }

  .logo {
    position: static;
    height: auto;
    padding: 0;
  }
  .logo a {
    float: none;
  }
}
@media screen and (min-width: 1366px) {
  .logo a {
    background-size: 100%;
    margin: 25px -8px;
    width: 186px;
  }
}
/* ==========================================================================
   Navigation [`NAV]
   ========================================================================== */
.navigation-list {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  border-bottom: 3px solid #164462;
  background: url(../img/bg-dark-blue-pattern.png);
  position: fixed;
  float: right;
  width: 100%;
  top: -205px;
  left: 0;
}
.navigation-list.open {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  top: 58px;
}
.navigation-list li {
  text-transform: uppercase;
  font-size: 0.77778em;
  list-style-type: none;
}
.navigation-list li.active a {
  background: #00a0c6b5;
  color: #FFFFFF;
}
.navigation-list li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  text-align: center;
  color: #00a0c6;
  font-weight: 400;
  display: block;
  padding: 10px;
  width: 100%;
}
.navigation-list li a:not(:last-child) {
  border-bottom: 1px solid #164462;
}
.navigation-list li a:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: #00a0c6b5;
  color: #FFFFFF;
}

@media screen and (min-width: 356px) {
  .navigation-list {
    top: -273px;
  }
  .navigation-list.open {
    top: 70px;
  }
  .navigation-list li {
    font-size: 1em;
  }
  .navigation-list li a {
    padding: 14px;
  }
}
@media screen and (min-width: 768px) {
  .navigation-list {
    margin-top: 20px;
    position: static;
    background: none;
    border: none;
    float: right;
    width: auto;
    left: 0;
    top: 0;
  }
  .navigation-list.open {
    top: 0;
  }
  .navigation-list li {
    font-size: 0.77778em;
    display: inline-block;
  }
  .navigation-list li.active a {
    color: #164462;
    background: none;
  }
  .navigation-list li:not(:last-child) {
    margin-right: 16px;
  }
  .navigation-list li a {
    text-align: left;
    width: auto;
    padding: 0;
  }
  .navigation-list li a:hover {
    color: #164462;
    background: none;
  }
}
@media screen and (min-width: 1366px) {
  .navigation-list {
    margin-top: 40px;
  }
  .navigation-list li {
    font-size: 1em;
  }
  .navigation-list li:not(:last-child) {
    margin-right: 30px;
  }
}
/* ==========================================================================
   Main [`MAIN]
   ========================================================================== */
.home {
  background: #FFFFFF;
}

.intro {
  padding-top: 36px;
}
.intro h2, .intro p {
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
}
.intro h2 {
  -webkit-text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.11111em;
  margin-bottom: 10px;
}
.intro p {
  font-size: 0.55556em;
  margin-bottom: 11px;
}
.intro a {
  -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);
  font-size: 0.55556em;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
}

.intro-wrapper {
  position: relative;
  padding-top: 58px;
  height: 140px;
}

.intro-banner-greyscale,
.intro-banner-colour {
  position: absolute;
  height: 100%;
  width: 100%;
}

.intro-banner-colour {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: none;
  opacity: 0;
}
.intro-banner-colour:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.intro-content {
  height: 100%;
  width: 100%;
}

.value-prop {
  padding: 106px 0px 60px;
}
.value-prop h3 {
  font-size: 1.11111em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}
.value-prop p {
  font-size: 0.66667em;
  color: #164462;
  text-align: center;
  font-weight: 400;
  margin: 0px;
}

.services-wrapper {
  background: url(../img/bg-blue-pattern.png) center center no-repeat;
  background-size: cover;
}

.services {
  padding: 40px 0;
}
.services .image-container {
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 36px;
  width: 130px;
}
.services h3 {
  font-size: 1.11111em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  color: #FFF;
}
.services h4 {
  font-size: 1em;
  margin-bottom: 28px;
  text-align: center;
  font-weight: 400;
  color: #FFF;
}
.services p {
  font-size: 0.66667em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  color: #FFF;
}
.services a {
  font-size: 1.11111em;
  color: #164462;
  text-decoration: none;
  font-weight: 600;
  float: right;
}

.brands {
  padding: 30px 0px 0px;
}
.brands h3 {
  font-size: 1.11111em;
  text-align: center;
  font-weight: 600;
}

@media screen and (min-width: 356px) {
  .intro {
    padding-top: 54px;
  }
  .intro .btn-wrapper {
    margin-top: 36px;
  }
  .intro h2 {
    font-size: 1.11111em;
    margin-bottom: 10px;
  }
  .intro p {
    font-size: 0.55556em;
    margin-bottom: 0;
  }
  .intro a {
    font-size: 0.55556em;
  }

  .intro-wrapper {
    padding-top: 70px;
    height: 160px;
  }

  .value-prop {
    padding: 126px 0px 60px;
  }
  .value-prop h3 {
    font-size: 1.44444em;
  }
  .value-prop p {
    font-size: 0.77778em;
  }

  .services .image-container {
    border: 6px solid #FFFFFF;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 186px;
  }
  .services h3 {
    font-size: 1.44444em;
  }
  .services h4 {
    font-size: 1.11111em;
    margin-bottom: 30px;
  }
  .services p {
    font-size: 0.88889em;
    margin-bottom: 38px;
  }
  .services a {
    font-size: 1.11111em;
  }

  .brands h3 {
    font-size: 1.44444em;
  }
}
@media screen and (min-width: 480px) {
  .intro {
    padding-top: 80px;
  }
  .intro .btn-wrapper {
    margin-top: 49px;
  }
  .intro h2 {
    font-size: 1.33333em;
    margin-bottom: 16px;
  }
  .intro p {
    font-size: 0.77778em;
  }
  .intro a {
    font-size: 0.77778em;
  }

  .intro-wrapper {
    padding-top: 70px;
    height: 216px;
  }
}
@media screen and (min-width: 768px) {
  .intro {
    padding-top: 100px;
  }
  .intro .btn-wrapper {
    margin-top: 85px;
  }
  .intro h2 {
    font-size: 2.22222em;
    margin-bottom: 40px;
  }
  .intro p {
    font-size: 1.33333em;
  }
  .intro a {
    font-size: 1em;
  }

  .intro-wrapper {
    height: 350px;
    padding: 0;
  }

  .intro-banner-colour {
    display: block;
  }

  .value-prop {
    padding: 117px 0px 124px;
  }
  .value-prop h3 {
    font-size: 2em;
    margin-bottom: 55px;
  }
  .value-prop p {
    font-size: 0.88889em;
    margin: 0px;
  }

  .services {
    padding: 85px 0;
  }
  .services .image-container {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 186px;
  }
  .services h3 {
    font-size: 2em;
    margin-bottom: 74px;
  }
  .services h4 {
    font-size: 1.33333em;
    margin-bottom: 38px;
  }
  .services p {
    font-size: 0.88889em;
    margin-bottom: 52px;
  }
  .services a {
    font-size: 1.33333em;
    float: right;
  }

  .brands {
    padding: 88px 0px 0px;
  }
  .brands h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1366px) {
  .intro {
    padding-top: 272px;
  }
  .intro .btn-wrapper {
    margin-top: 196px;
  }
  .intro h2 {
    font-size: 3.33333em;
    margin-bottom: 58px;
  }
  .intro p {
    font-size: 1.33333em;
  }
  .intro a {
    font-size: 1em;
  }

  .intro-wrapper {
    height: 676px;
    padding: 0;
  }

  .intro-banner-colour {
    display: block;
  }

  .value-prop {
    padding: 117px 0px 124px;
  }
  .value-prop h3 {
    font-size: 2em;
    margin-bottom: 55px;
  }
  .value-prop p {
    font-size: 0.88889em;
    margin: 0px;
  }

  .services {
    padding: 85px 0;
  }
  .services .image-container {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 186px;
  }
  .services h3 {
    font-size: 2em;
    margin-bottom: 74px;
  }
  .services h4 {
    font-size: 1.33333em;
    margin-bottom: 38px;
  }
  .services p {
    font-size: 0.88889em;
    margin-bottom: 52px;
  }
  .services a {
    font-size: 1.33333em;
    float: right;
  }

  .brands {
    padding: 88px 0px 0px;
  }
  .brands h3 {
    font-size: 2em;
  }
}
/* ==========================================================================
   Services [`SERVICES]
   ========================================================================== */
.servicespage .content-wrapper {
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;
  line-height: 26px;
  padding: 30px 0 80px;
}
.servicespage .content-wrapper ul {
  margin-left: 19px;
}
.servicespage .content-wrapper ul li {
  list-style-type: square;
}
.servicespage .content-wrapper ol {
  padding-left: 18px;
}
.servicespage .content-wrapper ol li {
  margin-bottom: 5px;
}
.servicespage .content-wrapper p {
  font-size: 0.66667em;
}
.servicespage .mobile h2 {
  background: url(../img/bg-dark-blue-pattern.png) center center no-repeat;
  margin-bottom: 40px;
  padding: 20px 15px;
  margin-top: 28px;
  color: #FFFFFF;
}

.service-wrapper {
  background: url(../img/bg-blue-pattern.png) center center no-repeat;
  padding: 30px 0;
}
.service-wrapper h3 {
  margin-bottom: 30px;
}
.service-wrapper a {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  font-size: 0.66667em;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  display: block;
  color: #164462;
  padding: 14px;
  width: 100%;
}
.service-wrapper a:hover, .service-wrapper a.here {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background: #164462;
  color: #FFFFFF;
}

@media screen and (min-width: 356px) {
  .servicespage .content-wrapper {
    font-size: 0.88889em;
    padding: 43px 0 80px;
    line-height: 26px;
  }
  .servicespage .content-wrapper ul {
    margin-left: 19px;
  }
  .servicespage .content-wrapper ul li {
    list-style-type: square;
  }
  .servicespage .content-wrapper ol {
    padding-left: 18px;
  }
  .servicespage .content-wrapper ol li {
    margin-bottom: 5px;
  }
  .servicespage .content-wrapper p {
    font-size: 0.88889em;
  }
  .servicespage .mobile h2 {
    margin-bottom: 40px;
    padding: 20px 15px;
    margin-top: 28px;
  }

  .service-wrapper {
    padding: 30px 0;
  }
  .service-wrapper h3 {
    margin-bottom: 30px;
  }
  .service-wrapper a {
    font-size: 0.66667em;
    margin-bottom: 20px;
    padding: 14px;
  }
}
@media screen and (min-width: 768px) {
  .service-wrapper {
    padding: 80px 0;
  }
  .service-wrapper h3 {
    margin-bottom: 30px;
  }
  .service-wrapper a {
    font-size: 0.88889em;
    margin-bottom: 20px;
    padding: 14px;
  }
}
@media screen and (min-width: 1366px) {
  .service-wrapper {
    padding: 80px 0;
  }
  .service-wrapper h3 {
    margin-bottom: 30px;
  }
  .service-wrapper a {
    font-size: 0.88889em;
    margin-bottom: 20px;
    padding: 14px;
  }
}
/* ==========================================================================
   About [`ABOUT]
   ========================================================================== */
.aboutpage .content-wrapper {
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;
  line-height: 26px;
  padding: 30px 0 80px;
}
.aboutpage .content-wrapper p {
  font-size: 0.55556em;
}
.aboutpage .mobile h2 {
  background: url(../img/bg-dark-blue-pattern.png) center center no-repeat;
  margin-bottom: 40px;
  padding: 20px 15px;
  margin-top: 28px;
  color: #FFFFFF;
}

.team-wrapper {
  background: #00a0c6;
  padding: 80px 0;
}
.team-wrapper h3 {
  margin-bottom: 30px;
  text-align: center;
}

.member .pseudo-image {
  margin: 0 auto;
  height: 190px;
  width: 150px;
}
.member p {
  font-size: 0.88889em;
  text-align: center;
  margin-top: 20px;
}
.member p span {
  font-family: "open_sanslight_italic", "Helvetica Neue", "Arial", sans-serif;
}

@media screen and (min-width: 356px) {
  .aboutpage .content-wrapper {
    padding: 43px 0 80px;
  }
  .aboutpage .content-wrapper p {
    font-size: 0.88889em;
  }
  .aboutpage .mobile h2 {
    margin-bottom: 40px;
    padding: 20px 15px;
    margin-top: 28px;
  }
}
@media screen and (min-width: 768px) {
  .aboutpage .content-wrapper {
    line-height: 26px;
    padding: 30px 0 80px;
  }
  .aboutpage .content-wrapper p {
    font-size: 0.88889em;
  }
}
@media screen and (min-width: 1366px) {
  .aboutpage .content-wrapper {
    line-height: 26px;
    padding: 30px 0 80px;
  }
  .aboutpage .content-wrapper p {
    font-size: 0.88889em;
  }
}
/* ==========================================================================
   Contact [`CONTACT]
   ========================================================================== */
.contact-information {
  background: #FFFFFF;
  padding: 80px 0;
}
.contact-information .address {
  font-size: 0.88889em;
  font-family: "open_sanslight", "Helvetica Neue", "Arial", sans-serif;
}
.contact-information .row:not(:last-child) {
  margin-bottom: 30px;
}
.contact-information ul li {
  font-size: 0.88889em;
  font-family: "open_sanslight", "Helvetica Neue", "Arial", sans-serif;
  list-style-type: none;
}
.contact-information h5 {
  font-size: 1.88889em;
  background: #feb107;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
  color: #444444;
  height: 50px;
  width: 50px;
}
.contact-information h5.contact-icon {
  font-size: 1.33333em;
  line-height: 52px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  text-indent: 20px;
  font-weight: 400;
  height: 44px;
  width: 100%;
}
.contact-form textarea {
  width: 100%;
  height: 200px;
}
.contact-form .submit {
  float: right;
  border: none;
  padding: 6px 20px;
  color: #FFFFFF;
  border-radius: 2px;
  background: #00a0c6;
}

.contactpage #map-canvas a {
  overflow: hidden;
  display: block;
  height: 400px;
}
.contactpage #map-canvas a img {
  position: relative;
  top: -190px;
}

/* ==========================================================================
   Footer [`FOOT]
   ========================================================================== */
footer {
  font-size: 0.88889em;
}
footer .content-wrapper {
  background: url(../img/bg-dark-blue-pattern.png) center center no-repeat;
  background-size: cover;
  padding: 94px 0 38px;
}
footer .contact-footer {
  padding: 20px 0;
}
footer .map-wrapper p {
  font-size: 0.88889em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  color: #FFF;
}
footer #map-canvas {
  height: 235px;
}
footer .contact-listing,
footer .service-listing {
  margin-bottom: 30px;
  margin-top: -5px;
}
footer .contact-listing li,
footer .service-listing li {
  font-size: 0.88889em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #FFFFFF;
}
footer .contact-listing li a,
footer .service-listing li a {
  font-size: 0.88889em;
  display: inline-block;
  color: #00a0c6;
}
footer .hour-listing li {
  font-size: 0.88889em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #FFFFFF;
}
footer .hour-listing li span {
  color: #00a0c6;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  margin-bottom: 5px;
  display: block;
}
footer h5 {
  margin-bottom: 30px;
  color: #FFFFFF;
}
footer p {
  font-size: 1.11111em;
  font-family: "open_sanslight", "Helvetica Neue", "Arial", sans-serif;
  color: #949494;
  margin: 0;
}
footer a {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 0.77778em;
  font-family: "open_sanslight", "Helvetica Neue", "Arial", sans-serif;
  color: #feb107;
}
footer a:hover {
  color: #FFFFFF;
}

.info-wrapper p {
  margin-bottom: 6px;
}
.info-wrapper p:last-child {
  margin-bottom: 40px;
}

.copyright-wrapper p {
  font-size: 0.88889em;
  text-align: right;
  color: #FFF;
}

/* ==========================================================================
   Helper classes [`HELP]
   ========================================================================== */
.back-link {
  float: right;
}

.breadcrumb-wrapper {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  padding: 10px 0;
}
.breadcrumb-wrapper .breadcrumbs {
  float: right;
}
.breadcrumb-wrapper ul li {
  font-size: 0.66667em;
  list-style-type: none;
  display: inline-block;
  color: #ababab;
}

.btn-anchor.primary {
  background: #00a0c6;
  margin: 0 auto;
  display: block;
  width: 426px;
}
.btn-anchor.secondary {
  text-decoration: none;
  background: #feb107;
  color: #FFFFFF;
}
.btn-anchor.cta {
  background: #00a0c6;
  line-height: 44px;
  margin: 0 auto;
  display: block;
  height: 44px;
  width: 200px;
}
.btn-anchor:hover {
  background: #00a8d0;
}

.image-container img {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .btn-anchor.cta {
    width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .btn-anchor.primary {
    width: 426px;
  }
  .btn-anchor.cta {
    line-height: 84px;
    height: 84px;
    width: 426px;
  }
}
@media screen and (min-width: 768px) {
  .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1366px;
  }
}
/* ==========================================================================
   Print styles. [`PRINT]
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
